<header>
    <h1>The Networking Network</h1>
    <h2>We're all just bytes on the wire, baby!</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/history">Networking History</a>
        <a href="/media">Networking Media</a>
        <a href="/protocols">Common Protocols</a>
        <a href="/random">Something Completely Different</a>
    </nav>
</header>